<h1>{{ contenido.valor }}</h1>
{% if user.is_authenticated %}
    <h2>Logged in as: {{user.username}}. <a href="/cms/logout">Logout</a></h2>
{% else %}
    <h2>Not logged in. <a href="/admin/">Login</a></h2>
{% endif %}
{% for comentario in contenido.comentario_set.all %}
    <hr>
    <h2>{{ comentario.titulo }}</h2><br>
        {{ comentario.cuerpo }}<br>
        Enviado el {{ comentario.fecha }}<br>
{% endfor %}
{% if user.is_authenticated %}

  <hr>
  <br>
  <form action="" method="POST">
    Introduce el (nuevo) contenido para esta página:
    <input type="text" name="valor">
    <input type="submit" name="action" value="Enviar Contenido">
  </form>

  <br>
  <form action="" method="POST">
    Introduce un nuevo comentario para esta página:
    <br>Título: <input type="text" name="titulo">
    <br>Cuerpo: <input type="text" name="cuerpo">
    <input type="submit" name="action" value="Enviar Comentario">
  </form>
{% endif %}
